#Contact {
  max-width: 800px;
  height: 600px;
  margin-bottom: 20vw;
}

#Contact h1 {
  font-size: 6rem;
  font-weight: 300;
  text-align: center;
}

#Contact ul {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: center;
  gap: 50px;
}

.contact-item {
  list-style: none;
  transition: transform 0.1s ease-in-out;
  width: 30%;
  max-width: 145px;
}

.contact-item:hover {
  transform: scale(1.15);
}

.contact-item a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: black;
  font-size: 2rem;
}

.contact-item img {
  width: 100%;
}
