.header-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header-bar button {
  border-style: none;
  display: inline-block;
}

nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0 40px;
}

nav li {
  /* flex: 1 1 auto; */
  list-style: none;
  height: fit-content;
  min-width: fit-content;
}

nav a {
  display: grid;
  place-items: center;
  height: 60px;
  padding: 0 2rem;

  text-decoration: none;
  font-weight: 400;
  color: black;

  font-size: 2.6rem;
}

nav a:hover {
  background-color: black;
  color: white;
}

nav a:active {
  background-color: inherit;
  color: black;
}

.banner-image {
  z-index: -1;
  height: 370px;
  width: 100%;
  background-image: url('../../assets/images/grey-landscape.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 70%;
}

.banner-image::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.25);
}

button.burger-button {
  visibility: hidden;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -3px;
  top: 10px;
  font-size: 3.2rem;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.7);
  border-radius: 5px;
}

@media (max-width: 600px) {
  .header-bar {
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
    height: 60px;
    visibility: hidden;
  }

  .header-bar.show {
    height: auto;
    visibility: visible;
    padding: 10px 0;
  }

  .header-bar div {
    display: flex;
  }

  .header-bar div button img {
    height: 32px;
  }

  nav {
    gap: 0;
    padding: 0%;
    width: 100%;
  }
  nav li {
    width: 100%;
    margin: 0;
  }
  nav a {
    margin: 0;
    width: 100%;
    height: 4rem;
  }

  button.burger-button {
    visibility: visible;
  }
}
