:root {
  font-size: 10px;
}

.App {
  background-color: #eee;
  overflow-x: hidden;
}

main > section {
  margin: 0 auto;
  margin-top: 30vh;
}

@media (max-width: 1000px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 1000px) {
  :root {
    font-size: 7px;
  }
}
